@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}



:root {
   
    --light-green-color: #c0eb7b;
    --orange--color: #ff7e00;
   
    --text-color: white;
    --bg-color: #121212;
}

::-webkit-scrollbar{
    width: 0.8rem;
    background: #1E1E1E;
}
::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background:#393939;
    
}

section {
    padding: 4.5rem 0 1.5rem;
}


img {
    width: 100%;


}

body {
    background-color: #efefef;
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column; 
    
   
    transition: 0.5s;
}


.header-top {
   
    width: 1380px;
    margin: auto;
    display: flex;
    background-color: #393939;
    justify-content: space-between;
    padding: 4px 60px;
}
.tp {
    width: 100%;
    background-color: #393939; 
   
 }

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
   

}
.logo span{
    color: rgb(208, 17, 17, 0.896);
    font-weight: bold;
    font-family: cursive;
    font-size: 1.6rem;
}


.logo img {
    position: absolute;
    margin-bottom: 35px;
    margin-right: 20px;
    width: 80px; /* increased from 100px */
    height: 80px; /* increased from 100px */
    object-fit: cover;
    object-position: center;
    
}
.btom {
   width: 100%;
   background-color: #1E1E1E;
}


.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1380px; 
    margin: auto;
    background-color:#1E1E1E; 
    padding: 20px 40px;
}


.nav-wrapper {
    
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    column-gap: 2.5rem; 
}

.navbar a {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.8rem 1.1rem;
}
.navbar .regi-active{
    background-color: #E10A0A ;
    color: var(--bg-color);
    font-weight: 600;
    color: var(--text-color);
}
.navbar .regi-active:hover {
    background: rgba(203, 16, 16, 0.896);
    border-radius: 0rem;
    
    color: var(--text-color);
    transition: background 0.5s;
}

header ul a:not(.regi-active)::after {
    content: "";
    position: absolute;
    background-color: #E10A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
header ul a:hover:after{
    
    width: 100%;
    
}
header ul a:hover{
    color: white;
}

.navbar .con-active{
    background:rgb(210, 208, 208);
    font-weight: 600;
    
    
}
.navbar .con-active:hover{
    background:rgb(156, 156, 156);
    border-radius: 0rem;
    color: var(--text-color);
    transition: background 0.5s;
}



.login {
    font-size: 0.3rem;
    font-weight: 500;
    color: var(--text-color);
    
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    
    padding: 0.5rem 1rem; 
    border-radius: 0px; 
    
    border-top: none;
    border-bottom: none;
    margin-left: auto;
    
}


.login span{

    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);

}
.login .bx {
font-size: 15px;
}
.login   .bxs-user{
    margin-right: 4px;
}


   .login .dropdown-menu {
        margin-left: 115px;
        margin-top: 10px;
        
        
        
        display:none;
        position:absolute; 
        background-color: white; 
        border: 1px solid #ccc; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
        z-index: 1000; 
        
    }
    
    
    .login .dropdown-menu a {
        
        display: block; 
        padding: 10px; 
        text-decoration: none; 
        font-size: 0.8rem;
        color: black; 
    }
    
    .login .dropdown-menu a:hover {
        background-color: #f0f0f0; 
    }
    
    #dropdown-toggle:hover{
        color: var(--light-orange-color);
    
    }

    /* Hero-section */
    .hero-section {
        position: relative;
        width: 100%;
        height: 70vh;
        background: url('img/freepik__the-style-is-candid-image-photography-with-natural__83067.png') no-repeat center center;
        background-size: cover;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .hero-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    
    .hero-section > * {
        position: relative;
        z-index: 2;
    }
    
    .hero-section h1 {
        color: #efefef;
        filter: brightness(97%);
        font-size: 3rem; 
        margin-top: auto;
        margin-bottom: 70px;
        
        padding: 0 20px;
    }

    .text{
        padding: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;


    }
    .text h1{
        margin: auto;
        font-size: 2.5rem;
        color: var(--bg-color);
    }
    .text p{
        
        margin: auto;
        font-size: 1.1rem;
        color: var(--bg-color);
    }


    .main {
        width: 100%;
        max-width: 1380px;
        margin: 0 auto;
        height: auto;
        padding: 40px 0;
    }
    
    .main .mplans {
        gap: 2rem;
        justify-content: center;
        align-items: start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .mplans .box {
        padding: 25px;
        width: 400px;
        background-color: #fff;
        box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
        border-radius: 0.5rem;
        border-top: 5px solid #393939;
        transition: transform 0.3s ease;
    }
    
    .mplans .box:hover {
        transform: scale(1.03);
    }
    
    .mplans .box h1 {
        display: flex;
        color: #333;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .mplans .box h1 i {
        margin-left: 8px;
        margin-top: 2px;
    }
    
    .box .price h2 {
        font-size: 1.4rem;
        color: #E10A0A;
        display: inline;
    }
    
    .box .price span {
        color: #333;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1rem;
    }
    
    .benefits {
        margin-top: 15px;
    }
    
    .benefits li {
        font-size: 1.05rem;
        font-weight: 600;
        list-style-type: disc;
        color: #333;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .benefits span {
        font-size: 0.95rem;
        margin-left: 20px;
        display: block;
        color: #333;
    }
    
    .btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 25px;
        background-color: #E10A0A;
        color: #fff;
        text-decoration: none;
       
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s ease;
    }
    
    .btn:hover {
        background-color: #a90e0e;
    }

    .inquiery{
        background-color: #393939;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    

    .foot-bg{
        width: 100%;
        height: auto;
        padding: 0%;
        background-color:#1E1E1E; 
    
    }
     
    .footer{
        max-width: 1380px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1.5rem;
       
        background-color:#1E1E1E; 
    
        
        padding: 30px;
        padding-top: 90px;
        
    
    
    }
    
    
    .footerbox{
        display: flex;
        flex-direction: column;
    }
    .footerbox p{
        font-size: 0.938rem;
        margin: 0.5rem 0 1rem;
    
    }
    .social{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    
    }
    .social .bx{
        padding: 10px;
        background: var(--bg-color);
        color: rgb(208, 17, 17, 0.896);
        border-radius: 5rem;
        font-size: 20px;
    
    }
    .social .bx:hover{
        background:rgb(208, 17, 17, 0.896) ;
        color: var(--bg-color);
        transition: 0.2s all linear;
    }
    .footerbox h2{
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    
    }
    .footerbox a{
        color: #999999b0;
        margin-bottom: 1rem;
    
    }
    .footerbox a:hover{
        color: red;
    
    }
    
    